*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
}

/* Start Home Page */
#home{
    width: 100vw;
    height: 110vh;
    position: relative;
    background-size: cover;
    background-image: url('../images/homePageBG.png');
}

/* Start Nav Bar */
.navbar {
    background-color: rgba(0, 0, 0, 0) !important;
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
    letter-spacing: -.015vw;
    font-size: 1.45rem;
    font-weight: 400;
    width: 100%;
    height: 10vh;
}

#navBarR ul{
    padding-left: 3.25vw;
}

#navBarR ul li{
    margin-top: 7.5%;
    margin-right: 2.5vw;
}

.navbar a{
    color: #a3a3a3;
}

.navbar-nav .nav-link.active,
.navbar-nav a:hover{
    transform: scale(1.25, 1.25);
}
/* End Nav bar */

/* Home Inner */
.home-inner{
    width: 100%;
    height: 100vh;
    position: relative;
    background-size: cover;
    background: rgba(90, 49, 17, .3);
}

.caption h2{
    font-family: 'Open Sans', sans-serif;
    letter-spacing: -.05vw;
    position: absolute;
    font-size: 4.5rem;
    font-weight: 300;
    max-width: 100%;
    color: white;
    width: 100%;
    top: 35%;
}

.btn-outline{
    width: 65px;
    margin-top: -10%;
    border-radius: 45%;
    position: relative;
    content: url('../images/homeInnerArrows.png');
}

.btn-outline:hover{
    transition: transform ease-in .25s;
    transform: scale(1.1, 1.1);
}

/* End Home Inner */

/* End Home Page */

/* Start About Page */
#about{
    width: 100vw;
    height: 81vh;
    position: relative;
    /* margin and padding are for nav bar */
    padding-top: 10vh; 
    margin-top: -10vh;
    background: #242529;
}

/* Start About Page Side Content */
#about .col-md-3{
    top: -10vh;
    height: 70vh;
    overflow: hidden;
    position: relative;
}

#about .col-md-3 #person{
    position: absolute;
    width: 18vw;
    left: 6vw;
}
/* End About Page Side Content */

/* Start About Page Main Content */
#about .col-md-9{
    top: -10vh;
    height: 70vh;
    overflow: hidden;
    position: relative;
}

#about .col-md-9 .aboutContent{
    top: 12.5vh;
    width: 62vw;
    left: 6.25vw;
    position: absolute;
    border: 5px solid #E8A94B;
}

#about .aboutContent .about-inner{
    left: -.25vw;
    width: 62vw;
    height: 45vh;
    overflow: hidden;
    position: relative;
}

#about .col-md-9 .aboutContent .about-inner h2{
    color: white;
    font-weight: 300;
    font-family: 'Nunito', sans-serif;
}

#about .col-md-9 .aboutContent .about-inner p{
    color: white;
    font-weight: 400;
    font-family: 'Nunito', sans-serif;
}

#about .col-md-9 .aboutContent .about-inner h2{
    top: .75vh;
    left: 2.25vw;
    font-size: 4.15vw;
    position: absolute;
    letter-spacing: -.25vw;
}

#about .col-md-9 .aboutContent .about-inner #bio{
    letter-spacing: -.075vw;
    position: absolute;
    font-size: 1.15vw;
    color: #A17544;
    left: 4.9vw;
    top: 9.75vh;
}

#about .col-md-9 .aboutContent .about-inner #description{
    letter-spacing: -.075vw;
    position: absolute; 
    font-size: 1.65vw;
    color: #7A7A7A;
    left: 3.25vw;
    top: 14vh;
}

#about .col-md-9 .aboutContent .about-inner #aboutMeTitle{
    top: 1.5vh;
    left: 49.4vw;
    font-weight: 400;
    font-size: 2.6vw;
    color: #242529;
    position: absolute;
    font-family: 'Nunito', sans-serif;
}

#about .col-md-9 .aboutContent .about-inner img{
    top: .009vh;
    left: 46.25vw;
    width: 25%;
    position: absolute;
}
/* End About Page Main Content */

/* End About Page */

/* Start Projects Page */
#projects{
    width: 100vw;
    height: 100vh;
    padding-top: 10vh;
    margin-top: -10vh;
    position: relative;
    background: #E8A94B;
}

#projects h2{
    top: 10vh;
    left: 43vw;
    font-size: 2.75vw;
    color: #2A2A2A;
    position: absolute;
    font-weight: 400;
    font-family: 'Nunito', sans-serif;
}

#projects h2 u{
    text-decoration: none;
    border-bottom: .25vh solid white;
}

#projects .col-md-6{
    top: -10vh;
    height: 100vh;
    overflow: hidden;
}

/* Start Projects First Column */
.projectContentOne{
    top: 25vh;
    left: 7vw;
    width: 30vw;
    height: 16vh;
    position: relative;
    background: white;
    border: 1px solid #2A2A2A;
}

.projectContentOne #pathFinderGIF{
    width: 7.8vw;
    height: 15.8vh;
    position: absolute;
}

.projectContentOne h1{
    left: 8.5vw;
    color: #2A2A2A;
    font-size: 2.25vw; 
    position: absolute;
    font-weight: 400;
    font-family: 'Nunito', sans-serif;
}

.projectContentOne a{
    top: 1.21vh;
    left: 20vw;
    z-index: 1;
    position: absolute;
}

.projectContentOne a #gitHubLogo{
    width: 1.5vw;
    position: absolute;
}

.projectContentOne #codeLangUsed{
    top: -.01vh;
    left: 27.65vw;
    height: 15.85vh;
    color: #E8A94B;
    padding-top: 2.5vh;
    font-size: 1.75vw;
    position: absolute;
    background: #242529;
    letter-spacing: .50vw;
    text-transform: uppercase;
    border: 1px solid #242529;
    writing-mode: vertical-rl;
}

/* #codeLangUsed{
} */

.projectContentOne p{
    top: 5vh;
    left: 8.6vw;
    width: 19vw;
    font-size: .8vw;
    font-weight: 400;
    color: #E8A94B;
    position: absolute;
    font-family: 'Nunito', sans-serif;
}

/* End Projects First Column */

/* End Projects Page */

/* Start Contact Page */
#contact{
    width: 100%;
    height: 30vh;
    padding-top: 10vh;
    margin-top: -10vh;
    background-color: #2A2A2A;
}
/* End Contact Page */